.SideMenu{
    position: fixed;
    color: white;
    margin: 15px 5px 5px 15px;
    width: auto;
    height: 100%;
    text-align: center;
    /* border: 1px solid; */
}

.options{
    text-align: center;
    background-color: aliceblue;
}

.NoColor{
    background-color: transparent;
    color: white;
    margin: 10px 10px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: unset;
    padding: 5px 40px;
    border: none;
    outline: none;
}

.NoColor:hover{
    border-color: white;
}

.dropdown-menu{
    background-color: #005A9C;
    padding: 10px 20px 15px 20px;
    font-size: larger;
    font-weight: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.dropdown-item{
    color: aliceblue;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
}

